.help-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  h1 {
    color: #a1d69d;
    text-align: center;
  }
  
  h2 {
    margin-top: 30px;
    color: #555;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.2em;
    color: #555;
  }
  
  p {
    margin-top: 10px;
    font-size: 11px;
  }
  
  section {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  

  section:last-child {
    border-bottom: none;
  }