.legal-mentions {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  color: #333;
  text-align: left;
}

.legal-mentions h1 {
  color: #a1d69d;
  text-align: center;
}

.legal-mentions h2 {
  margin-top: 30px;
  color: #555;
}

.legal-mentions p {
  margin-top: 10px;
  font-size: 11px;
}
