/*//////////////////////////////////////////////////////////////////////////////*/

.nav {
  display: flex;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navSec1 {
  display: flex;
  gap: 2em;
  padding-left: 1.875em;
}

.navSec2 {
  display: flex;
  align-items: center;
  gap: 2em;

}

.navSec2-1 {}

.btn {
  align-items: center;
}

.img-menu {
  width: 1.5em;
  height: 1.5em;
  padding-top: 1em;
}

.img-profil {
  width: 2em;
  height: 2em;
  margin-right: 50px;
  margin-top: 15px;
}

.img-logo {
  width: 2em;
  height: 1em;
  padding: 0%;
}

h1 {
  color: #000;
  font-size: 1.2em;
}

.divLink {
  cursor: pointer;
  color: #000;
}

/*//////////////////////////////////Input rechercher////////////////////////////////////////////*/

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 250px;
}

.input {
  height: 30px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #D9E8D8;
  color: #0d0c22;
  box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
  transition: .3s ease;
  font-size: 15px;
}

.input::placeholder {
  color: #777;
  font-size: 15px;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
  padding-top: 0.2em;
}










/*//////////////////////////////////a Favorites////////////////////////////////////////////*/

.btn {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-decoration: none;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

/*////////////////////////////Menu nav bar//////////////////////////*/

p {
  color: #000;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Cela s'assure que le contenu supérieur est en haut et le contenu inférieur est en bas */
  height: 92vh;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.dropDownTop,
.dropDownBottom {
  display: flex;
  flex-direction: column;
}